* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: aliceblue;
}
.carousel-container {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), /* dark overlay */
    url('Images/back.png') no-repeat center center;
    height: 330px;
  background-size: cover;
}
.navbar-light {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbarNavDropdown {
  margin-right: 30px;
}
ul.dropdown-menu {
  display: none;
}
ul.navbar-nav {
  display: flex;
  gap: 15px;
  float: right;
}
.overlay-left {
  float: left;
  width: 50%;
  margin-left: 10%;
  margin-top: 3%;
}
.fw-bold{
  color: white;
  font-weight: calc(20000);
  margin-top: 15px;
  font-size: xx-large;
}
.p1{
  color: white;
  margin-top: 10px;
  font-weight: bold;
  font-size: medium;
}
/* .overlay-right {
  float: right;
  width: 25%;
  margin-right: 12%;
  margin-top: 5%;
} */

/* .overlay-right hr {
  width: 100%;
} */
 .overlay-right  {
  background-color: white;
  margin-top: 30px;
  padding: 20px;
  opacity: 0.5;
  width: auto;
  float: right;
  width: 25%;
  margin-right: 12%;
  border-radius: 15px;
  height: 85%;
} 
/* .overlay-right .input-group,
.overlay-right .btn,
.overlay-right a.btn {
  width: 100%; /* force equal width */
} */
.text-dark {

margin-bottom: 25px; 
} 
input[type=text]{
  margin-top: 20px;
  font-weight: bold;
  background-color: white;
  padding: 8px;
 width: 80%;
  border-radius: 8px;
  border-color: white;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  border-color: blue;
  border-radius: 5px;
  margin-top: 20px;
width: 85%;
  padding: 8px;
}
.mt-3 {
  text-align: center;
  background-color: gray;
  border-radius: 5px;
  padding: 8px;
  margin-top: 20px;
  width: 85%;
}
input[type="password"] {
  background-color: white;
  margin-top: 20px;
    padding: 8px;
    width: 80%;
}
.featured-item {
  width: 220px;
  height: 120px;
  background-color: white;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
}
.featured-grid .row {
  display: flex;
  gap: 15px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  text-align: center;
}
